 body{
    height: calc(100% - 30px);
    padding: 0;
    background: #120b20;
}

 html{
     height: calc(100% - 3px);
     overflow: hidden;
 }

iframe {
    margin: 0;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0;
    width: 100%;
    height: 100%;
}